{% load static %}

<section id="about" class="about">

    <div class="section-title">

        <p>GET TO KNOW ME</p>

        <h2>
            About
            <span>Me</span>
        </h2>

        <div class="projects-line">
            <span></span>
        </div>

    </div>

    <div class="about-content">

        <p>
            I'm a Computer Science graduate specializing in Artificial
            Intelligence and Machine Learning with a strong interest in
            building intelligent web applications, scalable full-stack
            solutions, and AI-powered software.
        </p>

        <p>
            My interests include Python Development,
            Machine Learning and Data Analytics. I enjoy turning ideas
            into practical applications using clean code and modern
            technologies.
        </p>

        <a href="{% static 'resume/Sathwik_Resume.pdf' %}" class="cv-btn">

            <i class="fa-solid fa-download"></i>

            Download CV

        </a>

    </div>

    <div class="about-cards">

        <div class="about-card">

            <div class="icon">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>

            <h3>4+</h3>

            <p>
                Years of Learning
                <br>
                & Building
            </p>

        </div>

        <div class="about-card">

            <div class="icon">
                <i class="fa-solid fa-code"></i>
            </div>

            <h3>4+</h3>

            <p>
                Major
                <br>
                Projects
            </p>

        </div>

        <div class="about-card">

            <div class="icon">
                <i class="fa-solid fa-layer-group"></i>
            </div>

            <h3>6+</h3>

            <p>
                Technologies
                <br>
                Used
            </p>

        </div>

        <div class="about-card">

            <div class="icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>

            <h3>3+</h3>

            <p>
                Internships
                <br>
                and Training
            </p>

        </div>

    </div>

</section>