{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
      content="Portfolio of Sathwik Chinthakindhi - AI & Machine Learning Engineer, Full Stack Developer, Python Developer, and IoT Enthusiast.">

    <meta name="keywords"
          content="Sathwik Chinthakindhi, AI Engineer, Machine Learning, Python Developer, MERN Stack, Full Stack Developer, Portfolio">

    <meta name="author"
          content="Sathwik Chinthakindhi">

    <meta name="robots"
          content="index, follow">
    

    <title>Sathwik Portfolio</title>


<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/hero.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/skills.css' %}">
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
<link rel="stylesheet" href="{% static 'css/experience.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    {% if messages %}
<div class="message-container">
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
    {% include 'navbar.html' %}
    {% include 'home.html' %}
    {% include 'about.html' %}
    {% include 'skills.html' %}
    {% include 'projects.html' %}
    {% include 'experience.html' %}
    {% include 'contact.html' %}
    {% include 'footer.html' %}


    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>