{% load static %}
<section class="hero" id="hero">

    <!-- Left Side -->
    <div class="hero-left">

        <div class="hero-badge">
            Hello, I'm
        </div>

        <h1>
            SATHWIK
            <br>
            <span>CHINTHAKINDHI</span>
        </h1>

        <h3>
            AI & Machine Learning Engineer
        </h3>

        <p class="tech-stack">
            Python • Django • MERN Stack • Machine Learning
        </p>

        <p class="hero-desc">
            Passionate about building intelligent web applications,
            AI-powered solutions, and scalable software that solves
            real-world problems.
        </p>

        <div class="hero-buttons">

            <a href="#projects" class="primary-btn">
                View My Work
                <i class="fa-solid fa-arrow-right"></i>
            </a>

            <a href="#contact" class="secondary-btn">
                Contact Me
                <i class="fa-solid fa-envelope"></i>
            </a>

        </div>

        <div class="social-icons">

            <a href="https://github.com/babbluchinthakindhi"
       target="_blank"
       aria-label="GitHub">
        <i class="fa-brands fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/sathwik-chinthakindhi-1131202b5"
       target="_blank"
       aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>

    <a href="mailto:sathwik.chinthakindhi12@gmail.com"
       aria-label="Email">
        <i class="fa-solid fa-envelope"></i>
    </a>
        </div>

    </div>

    <!-- Right Side -->
    <div class="hero-right">

        <img src="{% static 'images/hero.png' %}" alt="Sathwik Portfolio">

    </div>
    

</section>
