<header class="navbar">

    <!-- Left Navigation Box -->
    <div class="nav-links-box">
        <ul class="nav-links">
            <li><a href="#hero" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <!-- Right Resume Box -->
    <div class="resume-box">
        <a href="{% static 'resume/Sathwik_Resume.pdf' %}" class="resume-btn">
            <i class="fa-solid fa-download"></i>
            Download Resume
        </a>
    </div>
    <!-- Mobile Menu Button -->
<div class="menu-toggle">
    <i class="fa-solid fa-bars"></i>
</div>
    

</header>